<!DOCTYPE html>
<html>
<head>
    <title>{{ news_item.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ news_item.title }}</h1>
        <p>Дата публикации: {{ news_item.date_created }}</p>
        {% if news_item.image %}
            <img src="{{ url_for('static', filename='news_img/' + news_item.image) }}" alt="Изображение новости" style="max-width: 400px;">
        {% endif %}
        <p>{{ news_item.content }}</p>
        <a href="{{ url_for('index') }}">Назад к списку новостей</a>
    </div>
</body>
</html>